.exibicao {
  font-weight: 900;
  padding: 1.2em;
  display: grid;
  grid-template-areas:
    "local inicio fim"
    "animais animais animais";
    justify-content: center;

  .inicio {
    color: darkmagenta;
    padding: 0 30px 0 30px;
    grid-area: inicio;
  }

  .fim {
    color: darkturquoise;
    grid-area: fim;
  }
  .local {
    text-decoration: underline;
    grid-area: local;
  }
  .animais{
    grid-area: animais;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
